.case {
  padding: 55px 0 139px 0;

  &__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    color: #ffffff;
  }
  &__cards {
    padding: 25px 0;
  }

  &__cards-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
  }

  &__cards-img {
    img {
      max-width: 100%;
    }
  }

  &__cards-name {
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
    color: #ffffff;
  }

  &__cards-text {
    font-size: 20px;
    line-height: 1.2;
    color: #b5b5b5;
  }

  &__cards-price {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.2;
    color: $colorYellow;
  }

  &__cards-delete {
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #000;
  }
}
.select {
  &__case {
    display: flex;
    gap: 30px;
  }
  &__case-item {
    padding: 5px 15px;
    background: $colorYellow;
    color: #000;
  }
}
.case {
  &__form {
    margin-top: 70px;
    display: flex;
    @include adaptiv-value("gap", 90, 20);
  }

  &__form-left {
    flex: 0 1 50%;
  }

  &__form-input {
    width: 100%;
    height: 50px;
    padding: 0 25px;
    color: #fff;
    background: transparent;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &::placeholder {
      color: $colorYellow;
    }
  }

  &__form-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__form-sum {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: #9b9b9b;
    span {
      color: $colorYellow;
    }
  }

  &__form-delivery {
    margin-bottom: 30px;
    @extend .case__form-sum;
  }

  &__form-price {
    margin-bottom: 28px;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.2;
    color: #ffffff;
    span {
      color: $colorYellow;
    }
  }

  &__form-btn {
    font-family: "Inter";
    font-weight: 600;
    font-size: 16px;
    padding: 15px 44px;
    line-height: 1.2;
    color: $colorYellow;
    background: transparent;
    border: 2px solid $colorYellow;
  }
}
.box {
  &__form-title {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    color: #ffffff;
  }

  &__form-options {
    margin-bottom: 66px;
  }

  &__form-item {
    margin-bottom: 15px;
  }

  &__form-radio {
    display: none;
  }

  &__form-label {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.2;
    color: $colorYellow;
    &::before {
      content: "";
      flex: 0 0 12px;
      height: 12px;
      margin-right: 15px;
      background: url(../images/icons/case-arrow.svg) no-repeat;
      transform: scale(0);
      transition: all 0.5s ease;
    }
  }
}
.box__form-radio:checked + .box__form-label::before {
  transform: scale(1);
  transition: all 0.5s ease;
}
