.services {
  @include adaptiv-value("padding-top", 220, 70);
  @include adaptiv-value("padding-bottom", 220, 70);

  &__list {
    @include adaptiv-value("margin-top", 80, 20);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(334px, 1fr));
    gap: 45px;
    @media (max-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      gap: 20px;
    }
  }

  &__item {
    padding: 33px 68px 0;
    text-align: center;
    @media (max-width: 768px) {
      padding: 0 0 0;
    }
  }

  &__item-title {
    margin-bottom: 15px;
    font-weight: 700;
    @include adaptiv-value("font-size", 24, 18);
    line-height: 1.2;
    text-transform: uppercase;
    color: #f0f0f0;
  }

  &__item-text {
    @include adaptiv-value("margin-bottom", 35, 15);
    font-family: "Montserrat Alternates";
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2;
    color: #f0f0f0;
  }

  &__item-btn {
    display: block;
    @include adaptiv-value("margin-bottom", 45, 20);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: $colorYellow;
  }

  &__item-icon {
    display: flex;
    justify-content: center;
    img {
      max-width: 100%;
    }
  }
}
