.catalog-gallery {
  padding: 110px 0;
  &__inner {
    display: flex;
  }

  &__list {
    margin-left: auto;
    display: flex;
    align-items: start;
    gap: 27px;
  }

  &__list-item {
    display: flex;
    align-items: center;
  }

  &__list-name {
    margin-right: 14px;
    font-size: 20px;
    line-height: 1.2;
    color: #ffffff;
  }
}
.select {
  padding: 0 10px 0 19px;
  height: 30px;
  background: $colorYellow;
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 1.2;
  color: #000;
}
